
/* Configurações gerais do site*/
:root{
	--default: linear-gradient(15deg,#AAABff, #0AABFF);
	--main-bg:#ECECEC;
	--bg-default:linear-gradient(15deg,#4682B4, #1E90FF);
	--bg-main:#FFFFFF;
	--bg-footer: #FAF2F2;
	--bg-aside: #FAF2F2;
	--text-color:#fff;
	--bg_header: #FFFFFF;
	--tcolor_header: #000;
	--spacing-default: 10px;
	--font-default:Verdana;
	--title-main-textcolor:#000;
}
