
/* Configurações gerais do site*/
:root{
	--default: linear-gradient(15deg,#AAABff, #0AABFF);
	/*--bg-default: linear-gradient(15deg,skyblue, #0AABFF);*/
	--main-bg:linear-gradient(180deg, #fff, #fff);
	--bg-default:linear-gradient(15deg, #000000, #000011);
	--bg-main:linear-gradient(180deg,#fffff0, #fffff2);
	--bg-footer: linear-gradient(180deg,skyblue, #0AABFF);
	--bg-aside: linear-gradient(180deg,skyblue, #0AABFF);
	--text-color:#fff;
	--bg_header: #FFFFFF;
	--tcolor_header: #000;
	--spacing-default: 10px;
	--font-default:Verdana;
	--title-main-textcolor:#000;
}
